<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.acme.amazon.orderrecord"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="23" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".AAMainOrderListPage"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddNewOrder"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AAItemListPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".AAProductListPage"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".AASummaryPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.acme.amazon.amazonpage.productlist.AaProdPriceInfoListPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.acme.amazon.amazonpage.productlist.ProductListDetailPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.acme.amazon.amazonpage.ProductInventory"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.acme.amazon.amazonpage.fba.FbaShippingReportPage"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.acme.amazon.amazonpage.fba.FbaShippingAddPage"
            android:screenOrientation="portrait"/>
        <activity android:name="com.acme.amazon.amazonpage.order.AaTransUpdatePage"
            android:screenOrientation="portrait"/>

        <provider
            android:name="com.acme.amazon.databaseHelper.AAProvider"
            android:authorities="com.acme.amazon.orderrecord.provider"
            android:label="@string/provider_label"
            android:multiprocess="false"/>
    </application>

</manifest>